* { box-sizing: border-box; }

body {
  font: 12px/24px $font;
  color: #777;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  display: block;
  color: #384042;
  margin-bottom: 20px;
  font-weight: normal;
}

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  &:link, &:visited {
    color: #afbabd;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
  }
  &:hover { color: #a2a6a7; }
}

p { margin-bottom: 30px; }

iframe { vertical-align: top; }

input, 
textarea, 
select {
  font-size: 14px;
  font-family: $font;
  color: #333;
  border: 0;
  padding: 4px;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

textarea,
input,
select {
  &:focus { outline: none; }
}

input {
  &:disabled { background: #EEE; }
  &[type="submit"] {
    transition: all 0.2s ease-out 0s;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  transform: rotate(0);
  image-rendering: -webkit-optimize-contrast;
}

ul {
  li {
    list-style: disc inside;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
}

ol {
  li {
    list-style: decimal inside;
    margin-left: 0;
    padding-left: 1.5em;
    text-indent: -1.5em;
  }
}

video {
  max-width: 100%;
  height: auto;
}

iframe, embed, object {
  max-width: 100%;
}

b, strong {
  font-weight: 700;
}

cite, dfn, em, i {
  font-style: italic;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

input {
  &[type='text'], 
  &[type='submit'], 
  &[type='password'], 
  &[type='email'] {
    -webkit-appearance: none;
  }
}

textarea {
  -webkit-appearance: none;
}

code, kbd, tt, var, samp, pre {
  font-family: monospace, serif;
  font-size: 15px;
  line-height: 1.6;
  hyphens: none;
}

.last {
  margin-right: 0 !important;
}

.services-list {
  transition: all 0.5s ease-out 0s;
}

::selection, 
::-moz-selection {
  background: #72798a;
  color: $white;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 9999999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../img/status.gif') no-repeat center;
  margin: -100px 0 0 -100px;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  background: $white;
  overflow-x: hidden;
  header {
    &.sticky-header {
      left: 0;
    } 
  }
}

#container-boxed, 
#container-boxed-left {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background: $white;
  box-shadow: 0 0 20px rgba( 0, 0, 0, 0.3 );
  @include tablet {
    max-width: 100%;
  }
  header {
    &.sticky-header { 
      width: 1150px;
      @include tablet {
        max-width: 100%;
      }
    }
  }
}

#container-boxed-left { 
  float: left; 
}

.inside {
  width: 1100px;
  margin: 0 auto;
  position: relative; 
  @include tablet {
    max-width: 960px;
  }
  @include tablet-portrait {
    max-width: 720px;
  }
  @include phone {
    max-width: 540px;
  }
  @include phone-portrait {
    max-width: 96%;
  }
}

.inside-fullwidth {
  padding: 0 90px;
}

.select-menu, 
.single #nsu-checkbox, 
.header-search, 
.page-template-template-contact .plain-header-title, 
.page-template-template-contact-alternate .plain-header-title, 
.page-template-template-contact-alternate2 .plain-header-title {
  display: none;
}

.left-container {
  padding: 50px 0;
  position: relative;
  &.right {
    float: right !important;
  }
}

.theme-fullwidth {
  padding: 50px 0;
  position: relative;
}

.dual-container {
  width: 480px;
  .dual-property-list {
    .grid ul li {
      width: 480px;
    }
    #map-homepage {
      height: 300px;
      margin-bottom: 30px;
    }
    .property-info {
      text-align: center;
    }
  }
}

.social, 
.advance-search-block, 
.agent-block, 
.featured-block, 
.widget, 
.agent-social, 
.pagination, 
.contact-info, 
.contact-form, 
.blog-action, 
.share, 
.comments, 
.comment-respond, 
.cat-toogles, 
.home-flexslider, 
.theme-menu, 
.grid, 
.home-thumb-flexslider,
.flex-control-nav, 
.selectBox-dropdown-menu, 
.properties-flexslider, 
.tab-menu, 
.blog-flexslider, 
.agent-form, 
.dsidx-results, 
.featured-flexslider, 
.wpcf7, 
.partners-list, 
.bbp-forums, 
.bbp-topics, 
.forums, 
#bbp-user-navigation, 
.portfolio-flexslider, 
.blog-tags, 
.blog-block, 
.footer-menu, 
.portfolio-static-images, 
.testimonial-flexslider, 
.property-static-images, 
.agent-grid-sidebar .agent-list, 
.property-amenities, 
.floating-share {
  li {
    list-style: none;
    padding-left: 0;
    text-indent: 0;
  }
}